@use './variables';

@mixin centerMeColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@mixin centerMeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin gridColumns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  max-width: 90vw;
  grid-auto-flow: row dense;
}
