$title-color: rgb(105, 86, 230);
$border-color: #e6e6e6;
$error-color: #f40909;
$read-only-color: lightgray;
$background-color: rgba(35, 33, 33, 0.727);
$loader-background-color: rgba(200, 207, 255, 0.221);
$loader-border-color: rgba(0, 0, 0);
