<app-nav-bar (userSearched)="searchUser($event)"></app-nav-bar>
<div *ngIf="errorMessage">
  <app-not-found></app-not-found>
</div>
<app-loader></app-loader>
<div *ngIf="showInfo()">
  <app-profile [userData]="userProfile" [stars]="totalStars"></app-profile>
  <div class="main-repos__container">
    <h3 class="main-repos__title">Repositories</h3>
    <div
      class="main-repos__no-repository"
      *ngIf="userProfile.public_repos === 0">
      The user doesn't have any repository
    </div>
    <div class="main-repos__repositories" *ngIf="userProfile.public_repos > 0">
      <div *ngFor="let repo of userRepos">
        <app-repository-card [repoData]="repo"> </app-repository-card>
      </div>
    </div>
  </div>
  <div class="main-follows__container">
    <h3 class="main-follows__title">Followers</h3>
    <div class="main-follows__no-follower" *ngIf="userProfile.followers === 0">
      The user doesn't have any follower
    </div>
    <div class="main-follows__followers" *ngIf="userProfile.followers > 0">
      <div *ngFor="let follower of userFollowers">
        <app-follower-card [followerData]="follower"></app-follower-card>
      </div>
    </div>
  </div>
</div>
