@use 'styles.scss' as *;

app-nav-bar {
  width: 100%;
  @include centerMeColumn;
}

.main-repos__container {
  @include centerMeColumn;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  .main-repos__title {
    font-size: 1.4rem;
    margin: 0;
  }
  .main-repos__no-repository {
    padding: 30px;
    font-size: 1.2rem;
    color: $read-only-color;
    width: 400px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $background-color;
  }
  .main-repos__repositories {
    @include gridColumns;
    gap: 10px;
  }
}
.main-follows__container {
  @include centerMeColumn;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  .main-follows__title {
    font-size: 1.4rem;
    margin: 0;
  }
  .main-follows__no-follower {
    padding: 30px;
    font-size: 1.2rem;
    color: $read-only-color;
    width: 400px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $background-color;
  }
  .main-follows__followers {
    @include gridColumns;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 10px;
  }
}
